<div class="d-flex justify-content-center align-items-center" style="height:80vh">
  <b>本当に退会しますか？</b></br>

  </br>

  <p>退会すると、会員登録情報や</p>
  <p>これまでの購入履歴が閲覧できなくなります。</p>
  <p>退会する場合は、「退会する」をクリックしてください。</p>
</div>

<!--<h1 class="d-flex justify-content-center align-items-center" style="height:500px;">ご注文ありがとうございました！</h1>-->