<div class="container">
  <div class="text-center">
    <h1 class="mb-3">About</h1>
    <p class="typing">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
    <p class="typing">お子様からお年寄りの方までお召上がりいただけるよう、</p>
    <p class="typing">様々なバリエーションをご用意しております。</p>
    <p class="typing">また、全国への発送が可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
    <p class="typing">ぜひご注文ください。</p>
       
    
    <div class="cake">
    <div class="cake__img1"></div>
    <div class="cake__img2"></div>
    <div class="cake__img3"></div>
    <div class="cake__img4"></div>
    </div>
  </div>
</div>

