<%= render 'form', genres: @genres %>
<table>
  <thead>
    <tr>
      <th>ジャンル</th><ht><br /></ht>
    </tr>
  </thead>
  <tbody>
     <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
      <td><%= link_to "削除する", admin_genre_path(genre.id), method: :delete, data: {confirm: "削除しますか？"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>