<div ></div>

<h1 class="">About</h1>
<p class="text-primary">ながのCAKEは全国発送可能なケーキ屋さんです。</p><br>
<P>お子様からお年寄りの方までお召上がりいただけるよう、</P><br>
<P>様々なバリエーションをご用意しております。</P><br>
<P>また、全国への発送が可能ですので「いつ」でも「どこ」でもご注文いただけます。</P><br>
<p>ぜひご注文ください。</p>

<%= image_tag 'about_page.jpg' %>

 <br>
    <h1>フォーム一覧</h1>
    <br>

    <div class="border col-5">
        <br>
        <h2>マージン</h2>
        <br>
        <div class="row">
            <div class="col-md">
                <form>
                    <div class="form-group">
                        <h3>marginなし</h3>
                        <div class="col-12 mb-2 border">
                            <label>名前：</label>
                            <input type="text" class="form-control" required>
                            <label>部署：</label>
                            <select class="form-control">
                                <option>システム開発部</option>
                                <option>SEOマーケティング部</option>
                                <option>人事・総務部</option>
                                <option>営業本部</option>
                            </select>
                            <br>
                        </div>
                        <h3>marginあり</h3>
                        <div class="col-12 border">
                            <label class="mt-4">名前：</label>
                            <input type="text" class="form-control mb-4" required>
                            <label>部署：</label>
                            <select class="form-control mb-4">
                                <option>システム開発部</option>
                                <option>SEOマーケティング部</option>
                                <option>人事・総務部</option>
                                <option>営業本部</option>
                            </select>
                            <br>
                        </div>
                    </div>
                    <br>
            </div>
        </div>
        <br>
    </div>