<div class="container">
    <div class="title">
        <h2 class="bg-secondary-subtle">注文情報確認</h2>
    </div>
    <diV class="row">
        <table>
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込み)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= attachment_image_tag cart_item.item, :image, size: "50×50" %></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </diV>
</div>