/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body {
 background-color: #FFFF99;
 
}

.header{
  // color: #CCCC00;
  background-color:#99FFFF;
//   background: linear-gradient(180deg, #0072b4 0%, #7bc0be 72%, #afebea 100%);
//   background: -webkit-linear-gradient(-90deg, #0072b4 0%, #7bc0be 72%, #afebea 100%);
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.field {
  text-align: center;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  padding: 5px;
}

.sign{
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  background-color: #99FFFF;
    background: linear-gradient(180deg, #0072b4 0%, #7bc0be 72%, #afebea 100%);
    background: -webkit-linear-gradient(-90deg, #0072b4 0%, #7bc0be 72%, #afebea 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.nagano{
  color: #CCCC00;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  background-color: #99FFFF;
  background: linear-gradient(180deg, #0072b4 0%, #7bc0be 72%, #afebea 100%);
  background: -webkit-linear-gradient(-90deg, #0072b4 0%, #7bc0be 72%, #afebea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

// .text{
//   // text_align: center;

//   &__name{
//     margin-top: 5%;
//     margin-right: 10%;
//   }

//   &__mail{
//     margin-right: 10%;
//   }

//   &__email{
//     margin-top: 5%;
//     // margin-right: 5%;
//   }

//   &__telephone{
//     margin-right: 3%;
//   }

//   &__password{
//     // margin-right: 8%;
//   }
// }
