// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*タイピング*/
.typing {
  font-size: 16px;
  letter-spacing: 0.2em;
  word-break : break-all;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  // color: black;
  letter-spacing: 0.4rem;
  font-family: 'Playfair Display', serif;
  background-color: #99FFFF;
  background: linear-gradient(180deg, #0072b4 0%, #7bc0be 72%, #afebea 100%);
  background: -webkit-linear-gradient(-90deg, #0072b4 0%, #7bc0be 72%, #afebea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*jsで生成されるspanタグ*/
.typing span{
    display: none;
}

/*|カーソルを表示*/
.typing:after {
  content: "|";
  animation: typingCursor .8s ease infinite;
}

@keyframes typingCursor {
  from　{
    opacity:0;
  }
  to{
    opacity:1
  }
}

.cake.index{
   position: relative;
   width: 70%;
   height: 200px;
   overflow: hidden;
   margin: 0 auto;
}

.cake {
 position: relative;
 width: 70%;
 height: 300px;
 overflow: hidden;
 margin: 0 auto;
 
 
 
 &__img1, &__img2, &__img3, &__img4{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  
 }
 
  &__img1{
  background-image: url("about_page.jpg");
   animation: slide-animation-01 30s infinite;
  }
 
  &__img2{
   background-image: url("cake.image/cake14.jpg");
   animation: slide-animation-02 30s infinite;
  }
  
  &__img3{
   background-image: url("cake.image/cake21.jpg");
   animation: slide-animation-03 30s infinite;
  }
  
  &__img4{
   background-image: url("cake.image/cake2.jpg");
   animation: slide-animation-04 30s infinite;
  }
}

@keyframes slide-animation-01 {
 0% {opacity: 1; transform: scale(1.0);}
 10% {opacity: 1;}
 20% {opacity: 0; transform: scale(1.1);}
 40% {opacity: 0}
 60% {opacity: 0}
 80% {opacity: 0}
100% {opacity: 1; transform: scale(1.0);}
}

@keyframes slide-animation-02 {
 0% {opacity: 0;}
 10% {opacity: 0;}
 20% {opacity: 0; transform: scale(1.1);}
 40% {opacity: 1;}
 60% {opacity: 1;}
 80% {opacity: 0; transform: scale(1.0);}
100% {opacity: 0;}
}

@keyframes slide-animation-03 {
 0% {opacity: 0;}
 10% {opacity: 0; transform: scale(1.1);}
 20% {opacity: 1;}
 40% {opacity: 0;}
 60% {opacity: 0;}
 80% {opacity: 1;}
100% {opacity: 0; transform: scale(1.0);}
}

@keyframes slide-animation-04 {
 0% {opacity: 0;}
 10% {opacity: 1;}
 20% {opacity: 0; transform: scale(1.1);}
 40% {opacity: 0;}
 60% {opacity: 1;}
 80% {opacity: 0;}
100% {opacity: 0; transform: scale(1.0);}
}

.thanks{
  background-image: url("cake.image/cake22.jpg");
  width: 100%;
  height: 100%;
}

// #randomImg {
//   width: 100%;
//   height: 300px;
//   background-image: url(cake.image/cake1.jpg); //背景画像の初期値
//   background-position: center center;
//   background-size: cover;
//   text_align: right;
//   align-items: right;
// }