<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag item.image, size: "150x150" %>
    </div>
    <div class="col-6">
      <h2><%= @item.name %>aaaaaaaaaaaa</h2>
      <p><%= @item.explanation %>bbbbbbbbbb</p>
      <p>￥<%= @item.add_tax_cost.to_s(:dalimited) %>ccccccccc(税込) </p>
    </div>
  </div>
</div>
